*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 60vh;
}
.navbar{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 60px;
    padding: 20px 60px;
    font-size: larger;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar__menu_container{
    display: flex;
    gap: 30px;
    font-weight: 200;
}

.navbar__menu_container .user__icon{
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: solid 1px white;
    display: none;
}


.hero__section_logo{
    width: 300px;
}
.hero__section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    /* height: calc(60vh - 60px); */
    height: 40vh;
}

.hero__section__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    /* height: calc(60vh - 60px); */
    height: 40vh;
}

.hero__section_title{
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.hero__section_input_container{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    width: 50%;
    border-radius: 10px;
}

.input_container_search,
.input_container_location{
    padding: 5px;
    border: none;
    outline: none;
}

.input_container_location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}
.input_container_search{
    width: 65%;
}

.container{
    margin: 3rem auto;
    width: 90%;
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.we__offer_card{
    border-radius: 10px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease;
}
.we__offer_card:hover{
    transform: scale(1.05);
}

.we__offer_card img{
    width: 300px;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.we__offer_card h2{
    font-size: 20PX;
    font-weight: 400;
}
.we__offer_card P{
    font-size: 12px;
}

.collections{
    margin: 3rem auto;
    width: 90%;
}

.collections h1{
    font-weight: 600;
}

.collections .sub_heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap ;
    gap: 1rem;
}

.sub_heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
    cursor: pointer;
}
.collections .collections_card_container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   gap: 1rem;
   margin-top: 1.5rem;
}

.collections_card_container .card{
    height: 300px;
    width: 250px;
    min-width: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.card1{
    background-image: url(images/collection1.jpg);
}
.card2{
    background-image: url(images/collection2.jpg);
}.card3{
    background-image: url(images/collection3.jpg);
}.card4{
    background-image: url(images/collection4.jpg);
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9)0%,
        rgba(0,0,0,0.05)50%,
        rgba(0,0,0,0.05)85%
        );
}

.collections_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.content h4{
    font-weight: 300;
    letter-spacing: 0.5px;

}

.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
}

.get__the_app .semicontainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.get__the_app .semicontainer .left{
    flex: 2;
}

.get__the_app .semicontainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get__the_app .semicontainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get__the_app .semicontainer .right h1{
    font-weight: 400;
    font-size: 2.5rem;
}

.get__the_app .semicontainer .right p{
    font-size: 0.8rem;
}

.right .radio__button_container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.get__the_app .semicontainer .right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.get__the_app .semicontainer .radio__button_container div input{
    height: 20px;
    width: 20px;
    accent-color: rgb(239,79,95);
}

.get__the_app .semicontainer .right .input_container{
    display: flex;
    gap: .5rem;
}

.input_container button,
.input_container input{
    padding: 10px 12px;
}

.input_container{
    flex-wrap: wrap;
}

.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;

}

.input_container button{
    border: none;
    background-color: rgb(239,79,95);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right .download_the_app{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.download_the_app h5{
    font-weight: 500;
    color: grey;
}

.download_the_app div{
    display: flex;
    gap: 1rem;
}

.download_the_app div img{
    width: 35%;
}

.footer {
    width: 100%;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 3rem 8rem ;

    /* padding: 2rem;
    margin-right: 3rem; */

}

.footer_section1{
    display: flex;
    /* width: 60%; */
    padding: 0 10rem;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    /* margin: auto; */
}

.footer_section1 img{
    width: 150px;
    height: auto;
}







.section1_button_container{
    display: flex;
    gap: 1rem;
    height: 25px;
   /* background-color: #ff7e8b; */
  }
  
.section1_button_container .button{
    padding: 16px 18px;
    font-weight: 300;
    width: 100px;
    font-size: 18px;
    border: 1px solid gray;
    background-color: transparent;
    /* background-color: #ff7e8b; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .navigation_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    gap: 1rem;
    padding: 3rem 0;
  }
  
  .link__container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .link__container h5 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
  }
  
  .footer__link {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 300;
  }
  
  .footer__link:hover {
    color: black;
  }
  
  .social__links_container {
    display: flex;
    gap: 0.5rem;
  }
  
  .social__links_container button {
    background-color: black;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .social__links_container button i {
    color: white;
    font-size: 13px;
  }
  
  .footer__section_logos {
    width: 100%;
  }
  
  .disclamer {
    width: 90%;
    margin: auto;
    color: gray;
    font-size: 12px;
    border-top: 1px solid gray;
    padding-top: 1.5rem;
  }
  
  @media only screen and (max-width: 900px) {
    .navigation_container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navigation_container {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 450px) {
    .navigation_container {
      grid-template-columns: 1fr;
    }
  }







@media only screen and (max-width:600px){
    .navbar__menu_container .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .navbar{
        padding: 16px;
    }
    .hero__section{
        min-height: 80vh;
        align-items: center;
    justify-content: center;
    }
    /* .navbar{
        min-height: 80vh;
        
    } */
    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location,.input_container_search{
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }
    .hero__section__container{
        height: calc(80vh-60px);
    }
    .hero__section_title{
        font-size: 20px;
        width: 80%;
    }
    }
    
    @media only scrren and(max-width: 1300px){
        .get__the_app .semicontainer .left, .get__the_app .semicontainer .right{
            flex: 1;
        }

        .get__the_app.semicontainer{
            width: 80%;
        }
    }
    
    @media only scrren and(max-width: 900px){
        .get__the_app{
           padding: 2rem;
        }

        .get__the_app. semicontainer{
            width: 90%;
        }
    }
    
    @media only scrren and(max-width: 700px){
        .get__the_app{
           padding: 3rem 0;
        }

        .get__the_app .semicontainer{
            width: 80%;
            flex-direction: column;
        }
    }